.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.upload-btn {
  background: #037c4f;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;

  transition: 0.2s;
}

.upload-btn:hover {
  background: #059a65;
}